<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">


    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>


    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />

    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" />

    <link href="~/Content/css/responsive.css" rel="stylesheet" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js"></script>
</head>
<body>

    <!-- ========================= Header  ========================= -->
    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="@Url.Action("Index", "Home")" class="brand-wrap">
                            <img class="logo" src="~/Content/images/logo.png" alt="Logo">
                        </a> <!-- Nhãn thương hiệu -->
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <form action="@Url.Action("AllProduct", "Product")" method="get" class="search-header">
                            <div class="input-group w-100">
                                <!-- Ô input tìm kiếm -->
                                <input type="text" class="form-control" placeholder="Search" name="SearchString" value="@ViewBag.CurentFIlter">

                                <!-- Nút tìm kiếm -->
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- search-wrap .end// -->
                    </div> <!-- col.// -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header mr-3">
                                @if (Session["idUser"] != null)
                                {
                                    <!-- Liên kết khi người dùng đã đăng nhập -->
                                    <ul style="list-style-type: none; padding-left: 0; display: flex; gap: 10px;">
                                        <li><a href="~/Home/Logout" class="btn btn-primary">Đăng xuất</a></li>
                                        <li><a href="" class="btn btn-primary">Xem hồ sơ</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <!-- Liên kết khi người dùng chưa đăng nhập -->
                                    <ul style="list-style-type: none; padding-left: 0; display: flex;">
                                        <li style="margin-right: 10px;">
                                            <a href="~/Home/Register" class="btn btn-primary" style="padding: 10px 20px;">Đăng ký</a>
                                        </li>
                                        <li>
                                            <a href="~/Home/Login" class="btn btn-primary" style="padding: 10px 20px;">Đăng nhập</a>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="widget-header mr-3">
                                <a href="@Url.Action("Order", "Profile")" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-store"></i>
                                    </div>
                                    <small class="text">Cửa hàng</small>
                                </a>
                            </div>
                            <div class="widget-header">
                                <a href="@Url.Action("Cart", "Shopping")" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="notify" id="CartCount">@Session["count"]</span>
                                    </div>
                                    <small class="text">Giỏ</small>
                                </a>
                            </div>
                        </div> <!-- widgets-wrap -->
                    </div> <!-- col -->
                </div> <!-- row -->
            </div> <!-- container -->
        </section> <!-- header-main -->

        <nav class="navbar navbar-main navbar-expand-lg border-bottom">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Chuyển đổi điều hướng">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bars text-muted mr-2"></i> Danh mục </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Máy móc</a>
                                <a class="dropdown-item" href="#">Điện tử</a>
                                <a class="dropdown-item" href="#">Dệt may gia đình</a>
                                <a class="dropdown-item" href="#">Gia đình và bếp</a>
                                <a class="dropdown-item" href="#">Dịch vụ và thiết bị</a>
                                <a class="dropdown-item" href="#">Đồ chăm sóc sức khỏe</a>
                                <a class="dropdown-item" href="#">Đồ chơi và sở thích</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AllProduct", "Product")">Tất cả sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hội chợ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bán hàng với chúng tôi</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Trang mẫu</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="page-index.html">Chính</a>
                                <a class="dropdown-item" href="page-category.html">Tất cả danh mục</a>
                                <a class="dropdown-item" href="page-listing-large.html">Danh sách lớn</a>
                                <a class="dropdown-item" href="page-listing-grid.html">Danh sách lưới</a>
                                <a class="dropdown-item" href="page-shopping-cart.html">Giỏ hàng</a>
                                <a class="dropdown-item" href="page-detail-product.html">Chi tiết sản phẩm</a>
                                <a class="dropdown-item" href="page-content.html">Nội dung thông tin</a>
                                <a class="dropdown-item" href="page-user-login.html">Trang đăng nhập</a>
                                <a class="dropdown-item" href="page-user-register.html">Trang đăng ký</a>
                                <a class="dropdown-item disabled text-muted" href="#">Thêm các thành phần</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tải ứng dụng</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown">Tiếng Anh</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Tiếng Nga</a>
                                <a class="dropdown-item" href="#">Tiếng Pháp</a>
                                <a class="dropdown-item" href="#">Tiếng Tây Ban Nha</a>
                                <a class="dropdown-item" href="#">Tiếng Trung</a>
                            </div>
                        </li>
                    </ul>
                </div> <!-- collapse -->
            </div> <!-- container -->
        </nav>
    </header> <!-- header -->
    <!-- ========================= Header End ========================= -->
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- ========================= Footer  ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-y-lg text-white">
                <div class="row">
                    <aside class="col-md col-6">
                        <h6 class="title">Thương hiệu</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Puma</a></li>
                            <li><a href="#">Reebok</a></li>
                            <li><a href="#">Nike</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Công ty</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Tìm cửa hàng</a></li>
                            <li><a href="#">Điều khoản và quy định</a></li>
                            <li><a href="#">Sơ đồ trang</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Hỗ trợ</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Liên hệ chúng tôi</a></li>
                            <li><a href="#">Hoàn tiền</a></li>
                            <li><a href="#">Trạng thái đơn hàng</a></li>
                            <li><a href="#">Thông tin vận chuyển</a></li>
                            <li><a href="#">Mở tranh chấp</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Tài khoản</h6>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Login", "Home")"> Đăng nhập </a></li>
                            <li><a href="@Url.Action("Register", "Home")"> Đăng ký </a></li>
                            <li><a href="#"> Cài đặt tài khoản </a></li>
                            <li><a href="#"> Đơn hàng của tôi </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Mạng xã hội</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section> <!-- footer-top.// -->

            <section class="footer-bottom text-center">
                <p class="text-white">Chính sách bảo mật - Điều khoản sử dụng - Hướng dẫn pháp lý thông tin người dùng</p>
                <p class="text-muted"> &copy 2019 Tên công ty, Bảo lưu mọi quyền </p>
                <br>
            </section>
        </div> <!-- container -->
    </footer>

    <!-- ========================= Footer End ========================= -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
